<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact messages</title>
</head>
<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <h1>Contact messages</h1>

    <% if (messages && messages.length > 0) { %>

        <% messages.forEach(message => { %>
            <div class="service-card">
                <p>Status: <%= message.status %></p>
                <p>Name: <%= message.name %></p>
                <p>Email: <%= message.email %></p>
                <p> <%= message.message %></p>

                <p>Response: <%= message.response %></p>

                <form method="POST" action="/contact/<%= message.id %>">
                    <select name="status">
                        <option>Responded</option>
                        <option>Closed</option>
                    </select>

                    <textarea name="response" placeholder="Write your response here"></textarea>

                    <label>
                        <input type="checkbox" name="is_faq" value = "true">
                        FAQ?
                    </label>

                    <button>Send</button>
                </form>
            </div>
        <% }) %>
    <% } %>    
</body>
</html>