<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/main.css"
</head>
<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <h1>Manage Requests</h1>
    
    <div class="service-grid">
        <% request.forEach(request => { %>
            <div class="service-card">
                <div class="card-top">
                    <h3><%= request.year %> <%= request.make %> <%= request.model %></h3>
                    <p><strong>Status:</strong><%= request.status %></p>
                </div>

                <p class="service-type"><%= request.service_type %></p>

                <p class="notes"><%= request.notes %></p>

                <div class="admin-power">
                    <form method="POST" action="/service/<%= request.id %>/status">
                        <select name="status" class="status-select">
                            <option>Pending</option>
                            <option>In Progress</option>
                            <option>Completed</option>
                        </select>
                        <button class="btn-primary">Update</button>
                    </form>

                    <a href="/service/<%= request.id %>/edit" class="btn-secondary">Edit</a>

                    <form method="POST" action="/service/<%= request.id %>/delete">
                        <button onclick="return confirm('Delete this service?')" class="btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

    <footer> <%- include("partials/footer") %></footer>
</body>
</html>