<h1><%= vehicle.year %> <%= vehicle.title %></h1>

<p>Price: $<%= vehicle.price %></p>
<p><%= vehicle.description %></p>

<h2>Average Rating <%= avgRating %>/5</h2>

<% if (user && user.role === "admin") { %>
    <form method="POST" action="/vehicles/<%= vehicle.id %>/delete">
        <button type="submit">Delete</button>
    </form>
<% } %>

<% if (user && user.role === "admin") { %>
    <form method="GET" action="/vehicles/<%= vehicle.id %>/edit">
        <button type="submit">Edit info</button>
    </form>
<% } %>

<h2>Reviews</h2>

<% if (reviews.length === 0) { %>
    <p>No reviews yet</p>
<% } %>

<ul>
    <% reviews.forEach(review => { %>
        <li>
            <strong><%= review.name %></strong> <%= review.rating %>/5 
            <br />
            <%= review.comment %>
        </li>
    <% }) %>
</ul>

<h2>Leave a Review</h2>

<% if (user) { %>
    <form method="POST" action="/vehicles/<%= vehicle.id %>/reviews">
        <input type="number" name="rating" min="1" max="5" placeholder="Rating (1-5)" required/>
        <textarea name="comment" placeholder="Write a review"></textarea>
        <button type="submit">Submit Review</button>
    </form>
<% } else { %>
    <p><a href="/login">Login to leave a review</a></p>
<% } %>
