<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<header>
    
    <body>

        <%- include("partials/header") %>

        <h1>All Vehicles</h1>

            <form method="GET" action="/vehicles" class="sort-form">
                <select name="sort" onchange="this.form.submit()">
                    <option value="">Sort By</option>
                    <option value="price_asc" <%= sort === "price_asc" ? "selected" : "" %>>Price: Low --> High</option>
                    <option value="price_desc" <%= sort === "price_desc" ? "selected" : "" %>>Price: High --> Low</option>
                    <option value="year_asc" <%= sort === "year_asc" ? "selected" : "" %>>Oldest</option>
                    <option value="year_desc" <%= sort === "year_desc" ? "selected" : "" %>>Newest</option>
                </select>
            </form>

        <div class="vehicle-grid">
            <% vehicles.forEach(vehicle => { %>
                <a href="/vehicle/<%= vehicle.id %>" class="vehicle-card">
                    <img src="/images/<%= vehicle.image_url %>" alt="car" />
                    <div class="card-content">
                        <h3><%= vehicle.year %> <%= vehicle.title %></h3>
                    </div>
                    <div class="price">
                        $<%= vehicle.price %>
                    </div>
                </a>
            <% }) %>
        </div>
    </body>
</header>
</html>