<div class="car-card">
    <img src="<%= vehicle.image %>" alt="Car">
    <h3><%= vehicle.year %> <%= vehicle.title %></h3>
    <p class="price"><%= vehicle.price %></p>
    <p> <%= vehicle.description %> </p>
</div>